<h1>Products</h1>
<% if @products.exists? %>
  <%== pagy_bootstrap_nav(@pagy) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Qty</th>
        <th colspan="4" class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>₹<%= product.price.to_i %></td>
          <td><%= product.description %></td>
          <td><%= product.qty %></td>
          <td>
            <%= link_to product_path(product), class: "btn btn-primary btn-sm" do %>
              <i class="bi bi-eye-fill"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_product_path(product), class: "btn btn-secondary btn-sm" do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= button_to product, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<% else %>
  <h3>No Products Found!</h3>
<% end %>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary mt-2' %>
<%= link_to 'Import Products', add_products_path, class: 'btn btn-primary mt-2' %>
<%= link_to 'Start Checkout', new_payment_path, class: 'btn btn-primary mt-2' %>
