<h1>Products</h1>
<% if @products.exists? %>
  <table>
    <thead>
      <tr>
        <th>Productname</th>
        <th>Price</th>
        <th>Description</th>
        <th>Qty</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.productname %></td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td><%= product.qty %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<% else %>
  <h3>No Products Found!</h3>
<% end %>

<%= link_to 'New Product', new_product_path %>
<%= link_to 'Start Checkout', new_payment_path %>
