<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Home", main_dashboard_index_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">Signup</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "New Order", new_order_path, class: 'nav-link' %>
        </li>
      </ul>
      <div id="cart-button"><%= render 'layouts/cart' %></div>
    </div>
  </div>
</nav>