<!DOCTYPE html>
<html>
  <head>
    <title>DockerExample</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track" => "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <nav>
      <%= link_to "Home", main_dashboard_index_path %>
      <a href="#">Order</a>
      <a href="#">Signup</a>
      <a href="#">Login</a>
      <%= link_to "Products", products_path %>
    </nav>
    <%= yield %>
  </body>
</html>
